.content-wrapper(style='min-height: 703px;')
  //  Content Header (Page header) 
  section.content-header.content-center
    //  Main content 
  section.content.content-center
    row
      h1 Oopps sorry!
      h2 We can not find the page you are looking for... :(