header.main-header
  //  Logo 
  a.logo(href='#')
    //  mini logo for sidebar mini 50x50 pixels 
    span Part Management
  //  Header Navbar: style can be found in header.less 
  nav.navbar.navbar-static-top
    //  Sidebar toggle button
    a.sidebar-toggle(href='#' data-toggle='offcanvas' role='button')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
      
    .navbar-custom-menu
      ul.nav.navbar-nav
        //  User Account: style can be found in dropdown.less 
        li.dropdown.user.user-menu
          a.dropdown-toggle(href='#' data-toggle='dropdown')
            i.fa.fa-user-o
            span.hidden-xs Part Manager
          ul.dropdown-menu
            //  User image 
            li.user-header
              i.fa.fa-4.fa-user-o(style='color: #fff; font-size: 7em;')
              p
                | Part Manager
                small Terakhir Masuk 2 detik yang lalu
            //  Menu Body 
            li.user-body
              .row
                .col-xs-4.text-center
                  a(href=rooturl+'cloud/users') Pengguna 
                .col-xs-4.text-center
                  a(href=rooturl+'cloud/roles') Peran 
              //  /.row 
            //  Menu Footer
            li.user-footer
              .pull-left
                a.btn.btn-default.btn-flat(href=rooturl+'cloud/users/49723/edit') Profil
              .pull-right
                a.btn.btn-default.btn-flat(href=rooturl+'auth/logout') Keluar