.content-wrapper(style='min-height: 703px;')
  //  Content Header (Page header) 
  section.content-header.content-center
    h1.
      
      Baru Item
  //  Main content 
  section.content.content-center
    //  Default box 
    .box.box-success
      form.form-loading-button(method='POST' action='https://app.akaunting.com/common/items' accept-charset='UTF-8' role='form' enctype='multipart/form-data')
        input(name='_token' type='hidden' value='jdmbwKn84X5Df5IpalkRp8oSisZaf3YxPVXuKBXQ')
        .box-body
          .form-group.col-md-6.required
            label.control-label(for='name') Nama
            .input-group
              .input-group-addon
                i.fa.fa-id-card-o
              input.form-control#name(placeholder='Masukkan Nama' required name='name' type='text' style='background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg=="); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;')
          .form-group.col-md-6.required
            label.control-label(for='sku') SKU
            .input-group
              .input-group-addon
                i.fa.fa-key
              input.form-control#sku(placeholder='Masukkan SKU' required name='sku' type='text')
          .form-group.col-md-12
            label.control-label(for='description') Deskripsi
            textarea.form-control#description(placeholder='Masukkan Deskripsi' rows='3' name='description' cols='50')
          .form-group.col-md-6.required
            label.control-label(for='sale_price') Harga Jual
            .input-group
              .input-group-addon
                i.fa.fa-money
              input.form-control#sale_price(placeholder='Masukkan Harga Jual' required name='sale_price' type='text')
          .form-group.col-md-6.required
            label.control-label(for='purchase_price') Harga Beli
            .input-group
              .input-group-addon
                i.fa.fa-money
              input.form-control#purchase_price(placeholder='Masukkan Harga Beli' required name='purchase_price' type='text')
          .form-group.col-md-6.required
            label.control-label(for='quantity') Jumlah
            .input-group
              .input-group-addon
                i.fa.fa-cubes
              input.form-control#quantity(placeholder='Masukkan Jumlah ' required name='quantity' type='text' value='1')
          .form-group.col-md-6
            label.control-label(for='tax_id') Pajak
            .input-group
              .input-group-addon
                i.fa.fa-percent
              select.form-control.select2-hidden-accessible#tax_id(name='tax_id' tabindex='-1' aria-hidden='true')
                option(selected value) -Pilih Pajak -
                option(value='66634') PPn (10%)
              span.select2.select2-container.select2-container--default(dir='ltr' style='width: 463px;')
                span.selection
                  span.select2-selection.select2-selection--single(role='combobox' aria-haspopup='true' aria-expanded='false' tabindex='0' aria-labelledby='select2-tax_id-container')
                    span.select2-selection__rendered#select2-tax_id-container(title='-Pilih Pajak  -') -Pilih Pajak -
                    span.select2-selection__arrow(role='presentation')
                      b(role='presentation')
                span.dropdown-wrapper(aria-hidden='true')
          .form-group.col-md-6.required
            label.control-label(for='category_id') Kategori
            .input-group
              .input-group-addon
                i.fa.fa-folder-open-o
              select.form-control.select2-hidden-accessible#category_id(name='category_id' tabindex='-1' aria-hidden='true')
                option(selected value) -Pilih Kategori -
                option(value='296687') General
              span.select2.select2-container.select2-container--default(dir='ltr' style='width: 427px;')
                span.selection
                  span.select2-selection.select2-selection--single(role='combobox' aria-haspopup='true' aria-expanded='false' tabindex='0' aria-labelledby='select2-category_id-container')
                    span.select2-selection__rendered#select2-category_id-container
                      span.select2-selection__placeholder -Pilih Kategori -
                    span.select2-selection__arrow(role='presentation')
                      b(role='presentation')
                span.dropdown-wrapper(aria-hidden='true')
              .input-group-btn
                button#button-category.btn.btn-default.btn-icon(type='button')
                  i.fa.fa-plus
          .form-group.col-md-6(style='min-height: 59px')
            label.control-label(for='picture') Gambar
            .fancy-file
              .fake-file
                input.fake-input.form-control(type='text' placeholder='Tidak ada Berkas yang dipilih...' style='width: 188px; height: 34px;')
                button.btn.btn-default(type='button' style='height: 34px;')
                  i.icon-file.glyphicon.glyphicon-file
                  |  Pilih Berkas
              input.form-control#picture(name='picture' type='file' style='width: 314px;')
          .form-group.col-md-6
            label.control-label(for='enabled') Diaktifkan
            .input-group
              .btn-group.radio-inline(data-toggle='buttons')
                label#enabled_1.btn.btn-success.active
                  input#enabled(name='enabled' type='radio' value='1' checked)
                  span.radiotext Ya
                label#enabled_0.btn.btn-default
                  input#enabled(name='enabled' type='radio' value='0')
                  span.radiotext Tidak
        //  /.box-body 
        .box-footer
          .col-md-12
            .form-group.no-margin
              button.btn.btn-success.button-submit(type='submit' data-loading-text='Sedang memuat...')
                span.fa.fa-save
                |   Simpan
              a.btn.btn-default(href='https://app.akaunting.com/common/items')
                span.fa.fa-times-circle
                |   Batal
        //  /.box-footer 
  //  /.content 