.content-wrapper(style='min-height: 691px;')
  //  Content Header (Page header) 
  section.content-header.content-center
    h1
      | 
Baru Pelanggan 
      span.new-button
        a.btn.btn-default.btn-sm(href='https://app.akaunting.com/apps/custom-fields?utm_source=Suggestion&utm_medium=App&utm_campaign=CustomFields' target='_self')
          span.fa.fa-rocket
          |   Custom Fields
  //  Main content 
  section.content.content-center
    //  Default box 
    .box.box-success
      form.form-loading-button(method='POST' action='https://app.akaunting.com/incomes/customers' accept-charset='UTF-8' role='form' _lpchecked='1')
        input(name='_token' type='hidden' value='jdmbwKn84X5Df5IpalkRp8oSisZaf3YxPVXuKBXQ')
        .box-body
          .form-group.col-md-6.required
            label.control-label(for='name') Nama
            .input-group
              .input-group-addon
                i.fa.fa-id-card-o
              input.form-control#name(placeholder='Masukkan Nama' required name='name' type='text' style='background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg=="); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;')
          .form-group.col-md-6
            label.control-label(for='email') E-mail
            .input-group
              .input-group-addon
                i.fa.fa-envelope
              input.form-control#email(placeholder='Masukkan E-mail' name='email' type='text')
          .form-group.col-md-6
            label.control-label(for='tax_number') NPWP
            .input-group
              .input-group-addon
                i.fa.fa-percent
              input.form-control#tax_number(placeholder='Masukkan NPWP' name='tax_number' type='text')
          .form-group.col-md-6.required
            label.control-label(for='currency_code') Mata uang
            .input-group
              .input-group-addon
                i.fa.fa-exchange
              select.form-control.select2-hidden-accessible#currency_code(required name='currency_code' tabindex='-1' aria-hidden='true')
                option(value) -Pilih Mata uang -
                option(value='EUR') Euro
                option(value='GBP') British Pound
                option(value='IDR' selected) Rupiah
                option(value='TRY') Turkish Lira
                option(value='USD') US Dollar
              span.select2.select2-container.select2-container--default(dir='ltr' style='width: 463px;')
                span.selection
                  span.select2-selection.select2-selection--single(role='combobox' aria-haspopup='true' aria-expanded='false' tabindex='0' aria-labelledby='select2-currency_code-container')
                    span.select2-selection__rendered#select2-currency_code-container(title='Rupiah') Rupiah
                    span.select2-selection__arrow(role='presentation')
                      b(role='presentation')
                span.dropdown-wrapper(aria-hidden='true')
          .form-group.col-md-6
            label.control-label(for='phone') Telepon
            .input-group
              .input-group-addon
                i.fa.fa-phone
              input.form-control#phone(placeholder='Masukkan Telepon' name='phone' type='text')
          .form-group.col-md-6
            label.control-label(for='website') Situs Web
            .input-group
              .input-group-addon
                i.fa.fa-globe
              input.form-control#website(placeholder='Masukkan Situs Web' name='website' type='text')
          .form-group.col-md-12
            label.control-label(for='address') Alamat
            textarea.form-control#address(placeholder='Masukkan Alamat' rows='3' name='address' cols='50')
          .form-group.col-md-6
            label.control-label(for='enabled') Diaktifkan
            .input-group
              .btn-group.radio-inline(data-toggle='buttons')
                label#enabled_1.btn.btn-success.active
                  input#enabled(name='enabled' type='radio' value='1' checked)
                  span.radiotext Ya
                label#enabled_0.btn.btn-default
                  input#enabled(name='enabled' type='radio' value='0')
                  span.radiotext Tidak
          .form-group.col-md-6
            label.control-label(for='reference') Referensi
            .input-group
              .input-group-addon
                i.fa.fa-file-text-o
              input.form-control#reference(placeholder='Masukkan Referensi' name='reference' type='text')
          #customer-create-user.form-group.col-md-12.margin-top
            strong Perbolehkan Masuk?
            |   
            .icheckbox_square-green(aria-checked='false' aria-disabled='false' style='position: relative;')
              input#create_user(name='create_user' type='checkbox' value='1' style='position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;')
              ins.iCheck-helper(style='position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;')
        //  /.box-body 
        .box-footer
          .col-md-12
            .form-group.no-margin
              button.btn.btn-success.button-submit(type='submit' data-loading-text='Sedang memuat...')
                span.fa.fa-save
                |   Simpan
              a.btn.btn-default(href='https://app.akaunting.com/incomes/customers')
                span.fa.fa-times-circle
                |   Batal
        //  /.box-footer 
  //  /.content 